.haxelib/
.haxelsp/recording/
dump/
bin/
web/game.js
web/game.js.map
/native/
launcher/bin/
dist/
web/haxen.js
web/haxen.js.map
/CrownAndCardLauncher.exe
/CrownAndCardLauncher.exe.config
/cc_vorbis.dll
/Crown & Card.app/
launcher/mac/bin/
launcher/mac/obj/
